img {
  width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 33px;
}

.div1 {
  margin-top: 5rem;
  font-size: 3rem;
  text-align: center;
  grid-area: 2 / 7 / 5 / 10;
}
.div2 {
  text-align: center;
  font-size: 5rem;
  grid-area: 2 / 3 / 4 / 6;
}
